@font-face {
  font-family: "Raleway";
  src: url("style\fonts\Raleway") format("woff2");
  font-weight: bold;
  
}
@font-face {
  font-family: "Raleway";
  src: url("style\fonts\Raleway") format("woff2");
  font-weight: regular;
  
}