
body {
  max-width: 1100px;
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

a {
  display: block;
  color: black;
  font-style: normal;
  text-decoration: underline;
  text-decoration-thickness:1px;
  text-underline-offset:4px;
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%; 
  height: auto;
  display: block;
  }




