
  

h1,
h2,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: black;
  font-style: normal;
}


img {
   max-width: 100%; 
   display: block;
   }


.content_links,
.main_content {
  box-sizing: border-box;
  min-height: 100px;
}
